.app {
  text-align: center;
}

.parrot-title-block {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}

.parrot-title-element {}

.parrot-outlinks {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.parrot-outlink {
  width: 400px;
  padding-left: 10px;
  padding-right: 10px;
}

.parrot-outlink img {
  max-height: 100%;
  max-width: 100%;
}