body {
  margin: 0;
  font-family: HelveNueThinNormal, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  color: black;
}

#parrot-main-content {
  text-align: center;
}

#parrot-title-block {
  display: flex;
  flex-direction: column;
  margin-bottom: 3em;
  margin-top: 8em;
}

#parrot-title-element-name {
  font-size: xxx-large;
  margin: 0;
}

#parrot-title-element-role {}

#parrot-outlinks {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.parrot-outlink {
  width: 400px;
  padding-left: 10px;
  padding-right: 10px;
}

.parrot-outlink img {
  max-height: 100%;
  max-width: 100%;
}

.parrot-outlink-main-text {
  font-weight: bolder;
}

.parrot-outlink-additional-text {}

#parrot-footer {
  text-align: center;
  margin-top: 8em;
  font-size: small;
}

@font-face {
  font-family: 'HelveNueThinNormal';
  src: url('https://storage.googleapis.com/xprs_resources/fonts/helveticaneuethn-webfont.eot');
  src: url('https://storage.googleapis.com/xprs_resources/fonts/helveticaneuethn-webfont.eot?iefix') format('eot'),
  url('https://storage.googleapis.com/xprs_resources/fonts/helveticaneuethn-webfont.woff') format('woff'),
  url('https://storage.googleapis.com/xprs_resources/fonts/helveticaneuethn-webfont.ttf') format('truetype'),
  url('https://storage.googleapis.com/xprs_resources/fonts/helveticaneuethn-webfont.svg#webfontJR0GaG5Z')
  format('svg');
  font-weight: normal;
  font-style: normal;
}